<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
  </head>
  <body>
    <h1>Login Form</h1>
    <form id="loginForm">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <input type="submit" value="Login" />
    </form>
    <p>Don't have an account <a href="https://music-sharing-portal.onrender.com/register/">register</a>!</p>
    <script>
      document
        .getElementById("loginForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the form from submitting normally

          var form = document.getElementById("loginForm");
          var formData = new FormData(form);

          fetch(
            "https://music-sharing-portal.onrender.com/api/accounts/login/",
            {
              method: "POST",
              body: formData,
            }
          )
            .then((response) => {
              if (response.ok) {
                return response.json();
                form.reset();
              } else {
                throw new Error("Error: " + response.status);
              }
            })
            .then((data) => {
              res = data;
              localStorage.setItem("token", res["data"]["tokens"]["access_token"])
              console.log(data); // Handle the response data
              document.location.href = "https://music-sharing-portal.onrender.com/music_list/";
            })
            .catch((error) => {
              console.error(error); // Handle any errors
            });
        });
    </script>
  </body>
</html>
