<!DOCTYPE html>
<html>
  <head>
    <title>Song Submission Form</title>
  </head>
  <body>
    <h1>Song Submission Form</h1>
    <h2>
      See the
      <a href="https://music-sharing-portal.onrender.com/music_list/"
        >Music List</a
      >!
    </h2>

    <form id="songForm" enctype="multipart/form-data" method="POST">
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
    <form></form>
    <script>
      document
        .getElementById("songForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the form from submitting normally

          var form = document.getElementById("songForm");
          var formData = new FormData(form);
          if (formData.get("audio_file").name == "") {
            formData.delete("audio_file");
          }
          var token = localStorage.getItem("token"); // Replace with your JWT Bearer token
          if (token == null) {
            alert("Please login first");
            window.location.href =
              "https://music-sharing-portal.onrender.com/login/";
          }

          var headers = new Headers();
          headers.append("Authorization", "Bearer " + token);

          fetch(
            `https://music-sharing-portal.onrender.com/api/music/detail/{{music.id}}/`,
            {
              method: "PATCH",
              headers: headers,
              body: formData,
            }
          )
            .then((response) => {
              return response.json();
              if (response.ok) {
                return response.json();
                form.reset();
              } else {
                throw new Error("Error: " + response.status);
              }
            })
            .then((data) => {
              console.log(data); // Handle the response data
              form.reset();
            })
            .catch((error) => {
              console.error(error); // Handle any errors
            });
        });
    </script>
  </body>
</html>
